<h1 class="title">Browsing <%= @category.name %></h1>
<div class="columns is-multiline is_centered">
<% @category.products.each do |product| %>
  <%= render partial: "/products/product_card", locals: { product: product }%>
<% end %>
</div>