<h1 class="title"><%= @header %></h1>
<div class="columns is-multiline is_centered">
<% @products.each do |product| %>
  <%= render partial: "product_card", locals: { product: product }%>
<% end %>
</div>